* {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
} 

a {
    text-decoration: none;
}

.wrapper{
    max-width: 1110px;
    margin: 0 auto;
    position: relative; 
    height: inherit;
}

/* BUTTON */
.btn {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    padding: 20px 40px;
    border-radius: 30px;
    letter-spacing: 2.5px;
}

.primary-color {
    color: white;
    background-color: #1085e4;
    border: 1px solid #1085e4;
}

.primary-color:hover {
    color: #1085e4;
    background-color: transparent;
}

.secondary-color {
    color: #7e8bae;
    background-color: #cbdbe8;
    border: 1px solid #cbdbe8;
}

.secondary-color:hover {
   color: #cbdbe8;
   background-color: transparent;
}

/* header */
.section-header {
    background: url(../img/header/bg-header.png) no-repeat 50% 50%;
    background-size: cover;
    height: 100vh;
    position: relative;
}

.section-header-screenshot {
    background: url(../img/header/screenshot.png) no-repeat;
    position: absolute;
    z-index: 5;
    width: 890px;
    height: 730px;
    right: 0;
    top: 18%;
}


.section-header-flex {
    display: flex;
    flex-direction: column;
    height: inherit;
    z-index: 10;
}

.section-header-navbar {
    display: flex;
    margin-top: 40px;
    align-items: center;
}
.section-header-top-logoImg {
    height: 50px;
    width: 50px;
    background: url(../img/header/logo.png) no-repeat;
}

.section-header-top-logoText {
    color: #192b59;
    font-size: 24px;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 5px;
    margin: 0 15px; 
}
.section-header-top-nav {
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;
}

.section-header-top-nav-li {
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    color: #6e7ea9;
    margin: 0 21px;
    letter-spacing: 2px;
}

.section-header-top-btn {
    font-weight: 400;
    padding: 20px 55px;
    margin-left: 15px;
    letter-spacing: 2px;
}

.section-header-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.section-header-content-text {
    font-size: 80px;
    font-weight: 600;
    color: #192b59;
    max-width: 510px;
    letter-spacing: -2px;
}

.section-header-content-menu {
    margin-top: 70px;
}

.section-header-content-menu-primary {
}

.section-header-content-menu-secondary {
    margin-left: 15px;
}

/* sponsors */
.section-sponsors {
    background: url(../img/sponsors/bg-sponsors.png) no-repeat 50% 50%;
    background-size: cover;
    height: 270px;
    
}

.section-sponsors-flex {
    display: flex;
    justify-content: space-between;
    padding: 100px 0 105px 0;

}

.section-sponsors-labe-l {
    height: 75px;
    flex-basis:205px;
    margin-top: 15px;
    background: url(../img/sponsors/sponsor1.png) no-repeat;
}

.section-sponsors-labe-2 {
    height: 75px;
    flex-basis: 205px;
    background: url(../img/sponsors/sponsor2.png) no-repeat;
}

.section-sponsors-labe-3 {
    height: 75px;
    flex-basis: 205px;
    margin-top: 14px;
    background: url(../img/sponsors/sponsor3.png) no-repeat;
}

.section-sponsors-labe-4 {
    height: 75px;
    flex-basis: 205px;
    margin-top: 8px;
    background: url(../img/sponsors/sponsor4.png) no-repeat;
}


/* best */
.section-best-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows:  145px 220px 145px 220px 145px;
    grid-gap: 30px;
    margin-top: 120px;
    margin-bottom: 125px;
}

.section-best-grid-item-1 {
    grid-area: 1 / 1 / 2 / 2;
}

.section-best-grid-item-2 {
    grid-area: 1 / 2 / 3 / 3;
}
.section-best-grid-item-3 {
    grid-area: 1 / 3 / 3 / 4;
}
.section-best-grid-item-4 {
    grid-area: 2 / 1 / 4 / 2;

}
.section-best-grid-item-5 {
    grid-area: 3 / 2 / 5 / 3;
}
.section-best-grid-item-6 {
    grid-area: 3 / 3 / 5 / 4;
}
.section-best-grid-item-7 {
    grid-area: 4 / 1 / 6 / 2;

}
.section-best-grid-item-8 {
    grid-area: 5 / 2 / 6 / 4;
}

.best-grid-item-1-text-1 {
    font-size: 14px;
    font-weight: 800;
    color:#1085e4;
    letter-spacing: 2.5px;
    text-transform: uppercase;
}

.best-grid-item-1-text-2 {
    font-size: 40px;
    font-weight: 700;
    color: #192b59;
    letter-spacing: -1px;
    max-width: 270px;
    padding-top: 20px;
}

.best-grid-item-card {
    box-shadow: 0px 9px 20px #f4f4f4;
    border-radius: 10px;
    text-align: center;
}

.grid-item-icon {
    display: block;
    height: 92px;
    width: 105px;
    margin:50px auto 35px;
}
.best-grid-item-2-icon {
    background: url(../img/best/doc.png) no-repeat center;
}
.best-grid-item-3-icon {
    background: url(../img/best/custom.png) no-repeat center;
}
.best-grid-item-4-icon {
    background: url(../img/best/mobile.png) no-repeat center;
}
.best-grid-item-5-icon {
    background: url(../img/best/desing.png) no-repeat center;
}
.best-grid-item-6-icon {
    background: url(../img/best/online.png) no-repeat center;
}
.best-grid-item-7-icon {
    background: url(../img/best/edit.png) no-repeat center;
}

.best-grid-item-title{
    font-size: 20px;
    font-weight: 600;
    color: #192b59;
    letter-spacing: -0.5px;
    margin-bottom: 20px;
} 

.best-grid-item-text{
    font-size: 16px;
    color: #7581a1;
    max-width: 260px;
    margin: 0 auto;
    line-height: 25px;
} 

.best-grid-item-ref{
    display: block;
    font-size: 14px;
    font-weight: 600;
    color: #1085e4;
    margin-top: 20px;
    margin-bottom: 60px;
}

.section-best-grid-item-8 {
    height: inherit; 
    margin-left: 20px;
}

.best-grid-item-8-text-1 {
    font-size: 16px;
    color: #7581a1;
    line-height: 25px;
}
.best-grid-item-8-text-2 {
    margin-left: 5px;
    font-size: 16px;
    font-weight: 700;
    color: #192b59;
}
.best-grid-item-8-text-3 {
    color: #1085e4;
    font-size: 14px;
    font-weight: 400;
}

/* subscribe */
.section-subscribe {
    height: 520px;
    background: rgba(10,32,144,1);
    background: -moz-linear-gradient(left, rgba(10,32,144,1) 0%, rgba(35,120,205,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(10,32,144,1)), color-stop(100%, rgba(35,120,205,1))); 
    background: -webkit-linear-gradient(left, rgba(10,32,144,1) 0%, rgba(35,120,205,1) 100%);
    background: -o-linear-gradient(left, rgba(10,32,144,1) 0%, rgba(35,120,205,1) 100%);
    background: -ms-linear-gradient(left, rgba(10,32,144,1) 0%, rgba(35,120,205,1) 100%);
    background: linear-gradient(to right, rgba(10,32,144,1) 0%, rgba(35,120,205,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0a2090', endColorstr='#2378cd', GradientType=1 );
}

.section-subscribe-robot {
    background: url(../img/subscribe/robot.png) no-repeat;
    position: absolute;
    width: 355px;
    height: 420px;
    right: 0;
    top: 10%;
}

.section-subscribe-content {
    position: relative;
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.section-subscribe-text-1 {
    color: #00bffe;
    font-size: 14px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 2.8px;
}

.section-subscribe-text-2 {
    color: white;
    font-size: 50px;
    font-weight: 600;
    letter-spacing: -1.5px;
    margin-top: 20px;
    margin-bottom: 30px;
}

.section-subscribe-text-3 {
    color: white;
    font-size: 18px;
    max-width: 410px;
    line-height: 27px;
    font-weight: 400;
}

.section-subscribe-form {
    position: relative;
    max-width: 540px;
    margin-top: 35px;
}

.section-subscribe-form-input {
    font-size: 14px;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 40px;
    padding-right: 215px;
    border-radius: 35px;
    color: white;
    background-color: transparent; 
    border: 2px solid #3e57ad;
    display: block;
    width: 100%;
    box-sizing: border-box;
}

.section-subscribe-form-input:focus {
    outline: none;
}

.section-subscribe-form-input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: white;
}
.section-subscribe-form-input::-moz-placeholder { /* Firefox 19+ */
    color: white;
}
.section-subscribe-form-input:-ms-input-placeholder { /* IE 10+ */
    color: white;
}
.section-subscribe-form-input:-moz-placeholder { /* Firefox 18- */
    color: white;
}

.section-subscribe-form-button {
    padding: 20px 45px;
    letter-spacing: 4px;
    position: absolute;
    top: 7px;
    right: 8px;
}

.section-subscribe-form-button:focus {
    outline: none;
}

/* amazing */

.section-amazing {
    position: relative;
    height: 1000px;
}
.section-amazing-screenshot {
    background: url(../img/amazing/screenshot.png) no-repeat;
    position: absolute;
    width: 930px;
    height: 955px;
    bottom:0;
}

.section-amazing-flex {
    display: flex;
    justify-content: flex-end;
}

.section-amazing-flex-inner {
    max-width: 620px;
    margin-top: 110px;
}

.section-amazing-icon {
    background: url(../img/amazing/icon.png) no-repeat center;
    display: block;
    height: 100px;
    width: 115px;
}

.section-amazing-content {
    margin-left: 20px;
}
.section-amazing-title {
    margin-top: 10px;
    margin-bottom: 30px;
    color: #192b59;
    max-width: 560px;
    font-size: 50px;
    font-weight: 600;
    letter-spacing: -0.7px
}

.section-amazing-text{
    color: #7581a1;
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
}

.section-amazing-block-list {
    margin-top: 30px;
     height: 340px;
    overflow: hidden;
    overflow-y: scroll;
}

.section-amazing-block-list::-webkit-scrollbar { width: 4px; height: 4px; background-color: #f3f6ff; }
.section-amazing-block-list::-webkit-scrollbar-track { border-radius: 10px; background-color: #f3f6ff; }
.section-amazing-block-list::-webkit-scrollbar-thumb { border-radius: 10px; background-color: #1085e4; }

.section-amazing-block{
    max-width: 550px;
    margin-bottom: 25px;
}
.section-amazing-block-title {
    color: #5a6789;
    font-size: 16px;
    font-weight: 700;
}
.section-amazing-block-text {
    color: #7581a1;
    font-size: 14px;
    font-weight: 400;
    line-height: 25px;
}

.section-amazing-block-line {
    max-width: 550px;
    border: 0.5px solid #f2f2f2;
}

/* counter */
.section-counter {
    height: 530px;
    background-color: #edf6ff;
}