.amazing {
    position: relative;

    &-img {
        position: absolute;
        bottom: 0;
        z-index: 0;
    }
    &-inner {
        position: relative;
        z-index: 5;
        width: 58%;
        margin: 0 0 0 auto;
        padding: 110px 0 150px;
    }
    &-icon {
    }
    &-content {
        margin-left: 25px;
        &-title {
            @include title-semibold;
            color: $title-color;
            margin: 10px 0 30px;
            max-width: 560px;
        }
        &-text {
            @include text-main;
            color: $text-color;
        }

        &-list {
            margin-top: 30px;
            height: 340px;
            overflow: hidden;
            overflow-y: scroll;

            &::-webkit-scrollbar {
                width: 4px;
                height: 4px;
                background-color: $amazing-scrollbar-color;
            }
            &::-webkit-scrollbar-track {
                border-radius: 10px;
                background-color: $amazing-scrollbar-color;
            }
            &::-webkit-scrollbar-thumb {
                border-radius: 10px;
                background-color: $subtitle-color;
            }
        }
        &-block {
            margin-bottom: 25px;
            &-title {
                @include text-main-bold;
                color: $amazing-list-title-color;
            }
            &-text {
                margin-top: 10px;
                font-size: 14px;
                line-height: 1.714;
                color: $text-color;
                max-width: 560px;
            }
        }
    }
}
