.footer {
    background-color: #192b59;

    &-inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 0;
    }
    &-text {
        @include text-main;
        color: $text-color;
        &-second {
            color: $subtitle-color;
            text-transform: uppercase;
        }
    }
    &-icons {
        display: flex;
    }
    &-icon {
        margin-left: 24px;
        svg {
            height: 16px;
            width: 16px;
            path {
                fill: $btn-primary-text-color;
                transition: $transition-time;
            }
        }
        &:hover {
            svg {
                path {
                    fill: $btn-primary-color;
                }
            }
        }
    }
}
