* {
    box-sizing: border-box;
}

body,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
figure {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Open Sans", sans-serif;
    position: relative;
}
@media screen and (max-width: $tablet-wide-size) {
    .lock {
        overflow: hidden;
    }
}

a {
    text-decoration: none;
}

ul,
ol,
li {
    list-style: none;
}

.wrapper {
    max-width: 1110px;
    padding: 0 15px;
    margin: 0 auto;
    position: relative;
    height: 100%;
}

.btn {
    &-primary,
    &-header-secondary,
    &-plans-secondary {
        @include text-btn;
        text-decoration: none;
        padding: 20px 40px;
        border-radius: 30px;
        display: block;
        text-align: center;
    }

    &-primary {
        color: $btn-primary-text-color;
        background-color: $btn-primary-color;
        border: 2px solid $btn-primary-color;

        &:hover {
            color: $btn-primary-color;
            background-color: $btn-primary-hover-color;
        }
    }

    &-header-secondary {
        color: $btn-header-secondary-text-color;
        background-color: $btn-header-secondary-color;
        border: 2px solid $btn-header-secondary-color;

        &:hover {
            color: $btn-header-secondary-color;
            background-color: $btn-header-secondary-hover-color;
        }
    }

    &-plans-secondary {
        color: $btn-header-secondary-text-color;
        background-color: transparent;
        border: 2px solid $btn-header-secondary-color;

        &:hover {
            background-color: $btn-header-secondary-color;
        }
    }
}

.section-plans-card-btn-color {
    color: #8085b1;
    background-color: transparent;
    border: 2px solid #dce1e5;
}
.section-plans-card-btn-color:hover {
    background-color: #dce1e5;
}
