.plans {
    text-align: center;

    &-inner {
        padding: 60px 0 85px;
    }
    &-subtitle {
        @include subtitle-extrabold;
        color: $subtitle-color;
    }
    &-title {
        @include title-semibold;
        color: $title-color;
        margin: 20px 0 85px;
    }
    &-list {
        display: flex;
        justify-content: space-between;
        margin: 0 -10px;

        &-item {
            flex-basis: 33.333%;
            padding: 10px;
            &-inner {
                background-color: $plans-card-bg;
            }
        }
    }

    &-card {
        &-primary, &-secondary {
            padding: 60px 55px 80px;
        }
        &-primary {
            background-color: $plans-card-primary-bg;
            color: $plans-card-primary-color;
        }
        &-secondary {
            background-color: $plans-card-secondary-bg;
            clip-path: polygon(0 0, 85% 0, 100% 100%, 0 100%);
            color: $plans-card-secondary-color;
        }

        &-cost {
            &-big {
                font-size: 70px;
                font-weight: 700;
                letter-spacing: $title-letter-spacing;
            }
            &-small {
                font-size: 20px;
                font-weight: 700;
            }
            &-free, &-350 {
                color:$title-color;
            }
            &-mo {
                color: $text-color;
            }
        }
        &-subtitle {
            &-primary,
            &-secondary {
                @include subtitle-bold;
                margin: 10px 0 40px;
            }
            &-primary {
            }
            &-secondary {
                color: $subtitle-color;
            }
        }

        &-text {
            &-list {
                margin-bottom: 50px;
            }
            &-item {
                font-size: 14px;
                margin-bottom: 25px;
            }
        }
    }
}
