.subscribe {
    background-image: $subscribe-bg-gradient-color;
    &-inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 50px 0;
    }
    &-content {
        flex-basis: 545px;
        &-subtitle {
            font-size: 14px;
            font-weight: 800;
            text-transform: uppercase;
            letter-spacing: $subtitle-letter-spacing;
            color: $subscribe-subtitle-color;
        }
        &-title {
            color: $subscribe-title-color;
            @include title-semibold;
            margin: 20px 0 30px;
        }
        &-text {
            color: $subscribe-text-color;
            font-size: 18px;
            line-height: 1.556;
            font-weight: 400;
            max-width: 410px;
        }

        &-form {
            position: relative;
            margin-top: 35px;

            &-input {
                font-size: 14px;
                padding: 25px 215px 25px 40px;
                border-radius: 35px;
                color: $btn-primary-text-color;
                background-color: transparent;
                border: 2px solid $subscribe-form-border;
                display: block;
                width: 100%;

                &:focus {
                    outline: none;
                }

                &::placeholder {
                    color: $btn-primary-text-color;
                }
            }
            &-btn {
                padding: 20px 45px;
                letter-spacing: 4px;
                position: absolute;
                top: 7px;
                right: 8px;

                &:focus {
                    outline: none;
                }
            }
        }
    }

    @media screen and (max-width: $tablet-wide-size) {
        &-inner {
            flex-direction: column-reverse;
        }
        &-content {
            flex-basis: auto;
            max-width: 600px;
            width: 100%;
            text-align: center;
            margin-top: 40px;
            &-text {
                max-width: none;
            }
        }
        &-img {
            max-width: 200px;
            width: 100%;
        }
    }
    @media screen and (max-width: $tablet-small-size) {
        &-content {
            &-form {
                &-input {
                    padding: 25px 40px;
                    font-size: 16px;
                }
                &-btn {
                    position: relative;
                    margin: 20px auto 0;
                    width: 100%;
                    top: auto;
                    right: auto;
                }
            }
        }
    }
}
