.team {
    background: url(../img/team-bg.png) no-repeat 0 0;
    text-align: center;
    background-size: 100% 55%;

    &-inner {
        padding: 120px 0 115px;
    }
    &-subtitle {
        @include subtitle-extrabold;
        color: $team-subtitle-color;
    }
    &-title {
        color: $team-title-color;
        @include title-semibold;
        margin: 10px 0 135px;
    }
    &-list {
        display: flex;
        justify-content: space-between;
        margin: 0 -10px;
        &-item {
            padding: 0 10px;
            flex-basis: 33.333%;
        }
    }
    &-card {
        background-color: $team-card-bg;
        box-shadow: $team-card-shadow;
        position: relative;
        padding: 60% 20px 20px;
        &-img {
            position: absolute;
            width: 80%;
            top: -20%;
            left: 10%;
        }
        &-info {
            @include subtitle-extrabold;
            font-size: 14px;
            margin-bottom: 10px;
            color: $subtitle-color;
        }
        &-name {
            @include title-semibold;
            font-size: 26px;
            color: $title-color;
        }
        &-icons {
            display: flex;
            justify-content: center;
            margin: 25px 0 20px;
        }

        &-icon {
            height: 50px;
            width: 50px;
            border-radius: 100%;
            border: none;
            margin: 0 5px;
            background-color: $team-card-icon-bg;
            padding: 16px;
            transition: $transition-time;

            svg {
                height: 18px;
                width: 18px;
                path {
                    fill: $team-card-icon-color;
                    transition: $transition-time;
                }
            }
            &:focus {
                outline: none;
            }
            &:hover {
                background-color: $team-card-icon-bg-hover;
                svg {
                    path {
                        fill: $team-card-icon-color-hover;
                    }
                }
            }
        }
    }
}
