$transition-time: 0.3s;

//tittles
$title-color: rgb(25, 43, 89);
$subtitle-color: rgb(16, 133, 228);
$text-color: rgb(117, 129, 161);

$title-letter-spacing: -0.03em;
$subtitle-letter-spacing: 0.2em;

//buttons
$btn-primary-color: rgb(16, 133, 228);
$btn-primary-hover-color: transparent;
$btn-primary-text-color: #ffffff;

$btn-header-secondary-color: rgb(203, 219, 232);
$btn-header-secondary-hover-color: transparent;
$btn-header-secondary-text-color: rgb(126, 139, 174);

//sections
$header-nav-color: rgb(110, 126, 169);

$best-card-shadow: 0px 8px 16px 0px rgba(180, 181, 181, 0.2);

$subscribe-bg-gradient-color: linear-gradient(
    to right,
    rgb(10, 32, 144) 0%,
    rgb(35, 119, 205) 100%
);
$subscribe-subtitle-color: rgb(0, 191, 254);
$subscribe-title-color: #ffffff;
$subscribe-text-color: rgb(223, 232, 255);
$subscribe-form-border: #3e57ad;

$amazing-scrollbar-color: rgb(243, 246, 255);
$amazing-list-title-color: rgb(90, 103, 137);

$counters-bg-color: rgb(237, 246, 255);
$counters-count-color: rgb(186, 203, 220);

$video-Intro-color: rgba(0, 0, 0, 0.039);
$video-subtitle-color: rgb(196, 210, 221);

$clients-subtitle-color: rgb(133, 200, 255);
$clients-title-color: #ffffff;
$clients-card-color: #ffffff;
$clients-card-shadow: 0px 16px 32px 0px rgba(185, 185, 185, 0.2);

$plans-card-bg: rgb(237, 244, 251);
$plans-card-primary-bg: rgb(25, 43, 89);
$plans-card-primary-color: #ffffff;
$plans-card-secondary-bg: rgb(245, 250, 255);
$plans-card-secondary-color: rgb(128, 133, 177);

$team-subtitle-color: rgb(133, 200, 255);
$team-title-color: #ffffff;
$team-card-bg: #ffffff;
$team-card-shadow: 0px 8px 30px 0px rgba(156, 156, 156, 0.1);
$team-card-icon-bg: #fafafa;
$team-card-icon-color: #9ea6b1;
$team-card-icon-bg-hover: rgb(16, 133, 228);
$team-card-icon-color-hover: #ffffff;

$contact-bg-color: rgb(237, 246, 255);
$contact-input-bg: #fafafa;
$contact-input-border-color: #dce4ec;

$desktop-wide-size: 2000px;
$desktop-size: 1380px;

// $breakpoints: (
//   "phone"       : 400px,
//   "phone-wide"  : 480px,
//   "phablet"     : 560px,
//   "tablet-small": 640px,
//   "tablet"      : 768px,
//   "tablet-wide" : 1024px,
//   "desktop"     : 1248px,
//   "desktop-wide": 1440px
// );
