$transition-time: 0.3s;

//tittles
$title-color: rgb(25, 43, 89);
$subtitle-color: rgb(16, 133, 228);
$text-color: rgb(117, 129, 161);

$title-letter-spacing: -0.03em;
$subtitle-letter-spacing: 0.2em;

//buttons
$btn-primary-color: rgb(16, 133, 228);
$btn-primary-hover-color: transparent;
$btn-primary-text-color: #ffffff;

$btn-header-secondary-color: rgb(203, 219, 232);
$btn-header-secondary-hover-color: transparent;
$btn-header-secondary-text-color: rgb(126, 139, 174);

//sections
$header-nav-color: rgb(110, 126, 169);

$best-card-shadow: 0px 8px 16px 0px rgba(180, 181, 181, 0.2);

$subscribe-bg-gradient-color: linear-gradient( to right, rgb(10,32,144) 0%, rgb(35,119,205) 100%);
$subscribe-subtitle-color:rgb(0, 191, 254);
$subscribe-title-color:#ffffff;
$subscribe-text-color:rgb(223, 232, 255);
$subscribe-form-border:#3e57ad;

// $btn-text-color: #ffffff;
// $btn-box-shadow: 0px 2px 0px 0px rgba(101, 228, 125, 0.5);

// $btn-burger-main: rgb(101, 228, 150);
// $btn-burger-secondary: rgb(145, 145, 181);

// $modal-bg: rgba(
//     $color: #000000,
//     $alpha: 0.3,
// );
// $modal-menu-bg: #ffffff;
// $btn-modal-main: rgb(105, 105, 128);
// $btn-modal-secondary: rgb(101, 228, 150);

// $breakpoints: (
//   "phone"       : 400px,
//   "phone-wide"  : 480px,
//   "phablet"     : 560px,
//   "tablet-small": 640px,
//   "tablet"      : 768px,
//   "tablet-wide" : 1024px,
//   "desktop"     : 1248px,
//   "desktop-wide": 1440px
// );
