@import "vars.scss";
@import "mixins.scss";
@import "main.scss";

@import "header.scss";
@import "sponsors.scss";
@import "best.scss";
@import "subscribe.scss";
@import "amazing.scss";
// @import "testimonial.scss";
// @import "events.scss";
// @import "blog.scss";
// @import "subscribe.scss";
// @import "footer.scss";

/*

.section-counter {
    height: 530px;
    background-color: #edf6ff;
    position: relative;
}

.section-counter-circle {
    position: absolute;
    height: 650px;
    top: 115px;
    left: 0;
}

.section-counter-rhombus {
    position: absolute;
    right: 0;
    height: 650px;
    top: -210px;
}

.section-counter-content {
    display: flex;
    flex-direction: column;
    height: inherit; 
    justify-content: center;
    
}

.section-counter-text-1 {
    color: #1085e4;
    font-size: 16px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 2.9px;
    align-self: center;
}

.section-counter-text-2 {
    text-align: center;
    color: #192b59;
    font-size: 50px;
    font-weight: 600;
    max-width: 430px;
    letter-spacing: -1.5px;
    align-self: center;
    margin-top: 20px;
    margin-bottom: 55px;
}

.section-counter-flex {
    display: flex;
    justify-content: space-around;
    width: inherit;
}

.section-counter-block-num {
    color: #bacbdc;
    font-size: 60px;
    font-weight: 700;
}

.section-counter-block-text {
    color: #1085e4;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-top: 5px;
}

.section-video {
    position: relative;
}

.section-video-intro {
    position: absolute;
    color: #f5f5f5;
    font-size: 300px;
    font-weight: 800;
    z-index: 5;
    left: 15%;
    top: -4%;
    letter-spacing: -9px;
}

.section-video-img {
    position: absolute;
    z-index: 10;
    top: 55px;
    right: -120px;
}

.section-video-content {
    position: relative;
    display: block;
    z-index: 15;
    padding-top: 110px;
}

.section-video-text-1 {
    color: #192b59;
    font-size: 50px;
    font-weight: 600;
    letter-spacing: -1.5px;
    margin-top: 5px;
    margin-bottom: 40px;
    max-width: 600px;
}

.section-video-text-2 {
    color: #7581a1;
    font-size: 16px;
    font-weight: 400;
    max-width: 610px;
    line-height: 25px;
    
}
.section-video-text-3 {
    color: #c4d2dd;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-top: 35px;
    margin-bottom: 25px;
}

.section-video-icon-1 {
    background: url(../img/video/google-icon.png) no-repeat center;
    display: inline-block;
    height: 53px;
    width: 161px;
    transition: 0.3s;
}

.section-video-icon-1:hover {
    box-shadow: 0px 9px 20px #c9c9c9;
    border-radius: 8px;
}

.section-video-icon-2 {
    background: url(../img/video/apple-icon.png) no-repeat center;
    display: inline-block;
    height: 53px;
    width: 152px;
    margin-left: 25px;
    transition: 0.3s;
}

.section-video-icon-2:hover {
    box-shadow: 0px 9px 20px #c9c9c9;
    border-radius: 8px;
}

.section-suitable {
    background: url(../img/suitable/bg-suitable.png) no-repeat 50% 50%;
    background-size: cover;
    height: 700px;
}

.section-suitable-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.section-suitable-content {
    max-width: 625px;
}

.section-suitable-icon {
    background: url(../img/suitable/icon.png) no-repeat center;
    display: block;
    height: 100px;
    width: 115px;
}

.section-suitable-wrap {
    padding-left: 25px;
}
.section-suitable-title {
    color: #192b59;
    font-size: 50px;
    font-weight: 600;
    letter-spacing: -1.5px;
    margin-top: 10px;
    margin-bottom: 30px;
}
.section-suitable-text {
    color: #7581a1;
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    margin-bottom: 55px;
}

.section-easy {
    position: relative;
    height: 690px;
}

.section-easy-bg-img {
    background: url(../img/easy/easy-bg-img.png) no-repeat;
    height: inherit;
    width: 800px;
    right: 0;
    position: absolute;
}

.section-easy-flex {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.section-easy-content {
    max-width: 625px;
}

.section-easy-icon {
    background: url(../img/easy/icon.png) no-repeat center;
    display: block;
    height: 100px;
    width: 115px;
}

.section-easy-wrap {
    padding-left: 25px;
}
.section-easy-title {
    color: #192b59;
    font-size: 50px;
    font-weight: 600;
    letter-spacing: -1.5px;
    margin-top: 10px;
    margin-bottom: 30px;
    max-width: 425px;
}
.section-easy-text {
    color: #7581a1;
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    margin-bottom: 55px;
}

.section-easy-btn {
    padding: 20px 62px;
}

.section-screenshot {
    background-color: #edf6ff;
    text-align: center;
}
.section-screenshot-text-1 {
    color: #1085e4;
    font-size: 18px;
    font-weight: 800;
    letter-spacing: 3.5px;
    text-transform: uppercase;
    padding-top: 115px;
}
.section-screenshot-text-2 {
    color: #192b59;
    font-size: 40px;
    font-weight: 600;
    letter-spacing: -1px;
    margin-top: 25px;
    margin-bottom: 70px;
}

.section-screenshot-img {
    max-width: 1288px;
    width: 100%;
}

.section-clients {
    position: relative;
}
.section-clients-block {
    background-color: #1085e4;
    height: 400px;
    width: 90%;
    border-top-right-radius: 400px;
    position: absolute;
    top: 120px;
    left: 0;
}
.section-clients-text-1 {
    color: #85c8ff;
    font-size: 18px;
    font-weight: 800;
    letter-spacing: 3.5px;
    text-transform: uppercase;
    padding-top: 195px;
}
.section-clients-text-2 {
    color: white;
    font-size: 40px;
    font-weight: 600;
    letter-spacing: -1px;
    margin-top: 20px;
    margin-bottom: 65px;
}
.section-clients-wrap {
    display: flex;
    justify-content: space-between;
}
.section-clients-card {
    background-color: white; 
    box-shadow: 0px 9px 20px #f4f4f4;
    border-radius: 10px;
    max-width: 350px;
}

.section-clients-card-wrapper {
    margin: 0 auto;
    width: 77%;
    margin-top: 35px;
    margin-bottom: 35px;
}

.section-clients-card-text {
    color: #8085b1;
    font-size: 14px;
    font-weight: 400;
    line-height: 25px;
    margin-bottom: 25px;
}

.section-clients-card-info {
    display: flex;
    align-items: center;
}

.section-clients-card-info-ava {
    border-radius: 27px;
}

.section-clients-card-info-inner {
    display: flex;
    flex-direction: column; 
    margin-left: 15px;
}
 
.section-clients-card-info-name {
    color: #000958;
    font-size: 22px;
    font-weight: 600;
    letter-spacing: -0.5px;
    margin-bottom: 5px;
}
.section-clients-card-info-text {
    color: #1085e4;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.section-plans {
    text-align: center;

}
.section-plans-text-1 {
    color: #1085e4;
    font-size: 18px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 4px;
    padding-top: 115px;
}
.section-plans-text-2 {
    color: #192b59;
    font-size: 40px;
    font-weight: 600;
    letter-spacing: -1px;
    margin-top: 20px;
    margin-bottom: 85px;
}
.section-plans-cards {
    display: flex;
    justify-content: space-between;
    margin-bottom: 120px;
}
.section-plans-card {
    flex-basis: 31.5%;
    padding-top: 60px;
    padding-bottom: 100px;
}
.plans-card-primary {
    background-color: #192b59;
}
.plans-card-secondary {
    background: url(../img/plans/bg-card.png) right no-repeat;
}

.section-plans-card-cost-small {
    font-size: 20px;
    font-weight: 700;
}
.section-plans-card-cost-big {
    font-size: 70px;
    font-weight: 700;
    letter-spacing: -3px;
}

.section-plans-card-cost-free {
    color: #000958;
}

.section-plans-card-color-white {
    color: white;
}

.section-plans-card-color-mo {
   color: #7b8ab2; 
}

.section-plans-card-cost-350 {
    color: #192b59;
}

.section-plans-card-starter {
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    margin-top: 15px;
}

.section-plans-card-starter-color {
     color: #0084ff; 
}

.section-plans-card-text-wrapper {
    margin-top: 45px;
    padding-bottom: 45px;
}
.section-plans-card-text {
    font-size: 14px;
    margin-bottom: 25px;
}

.section-plans-card-btn {
    padding: 20px 60px;
}

.section-plans-card-text-color {
    color: #8085b1;
}

.section-team {
    background: url(../img/team/bg-team.png) no-repeat 0 0;
    height: 850px;
    text-align: center;
    background-size: 100% 55%;
}
.section-team-text-1 {
    color: #85c8ff;
    font-size: 18px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 4px;
    padding-top: 115px;
}
.section-team-text-2 {
    color: white;
    font-size: 40px;
    font-weight: 600;
    margin-top: 20px;
    letter-spacing: -0.5px;
    margin-bottom: 140px;
}

.section-team-cards {
    display: flex;
    justify-content: space-between;
}
.section-team-card {
    flex-basis: 31.5%;
    background-color: white;
    box-shadow: 0px 9px 20px #f4f4f4;
    position: relative;
}
.section-team-card-img {
    position: absolute;    
    top: -20%;
    left: 10%;
    width: 80%;
}

.section-team-card-position {
    color: #1a88e1;
    font-size: 14px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-top: 60%;
    margin-bottom: 10px;
}
.section-team-card-name {
    color: #192b59;
    font-size: 26px;
    font-weight: 600;
    letter-spacing: -1px;
}
.section-team-card-icons {
    display: flex;
    justify-content: center;
    margin-top: 25px;
    margin-bottom: 35px;
}

.section-team-card-btn {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 16px 16px;
    height: 50px;
    width: 50px;
    border-radius: 100%;
    border: none;
    margin: 0 5px;
    transition: 0.3s;
} 

.section-team-card-btn:focus {
    outline: none;
}

.section-team-card-icon-plus {
    background-image: url(../img/team/plus.svg);
    background-color: #f3f3f3;
}

.section-team-card-icon-plus:hover {
    background-image: url(../img/team/plus-active.svg);
    background-color: #1a88e1;
} 

.section-team-card-icon-facebook {
    background-image: url(../img/team/facebook.svg);
    background-color: #f3f3f3;
}

.section-team-card-icon-facebook:hover {
    background-image: url(../img/team/facebook-active.svg);
    background-color: #1a88e1;
} 

.section-team-card-icon-twitter {
    background-image: url(../img/team/twitter.svg);
    background-color: #fafafa;
}

.section-team-card-icon-twitter:hover {
    background-image: url(../img/team/twitter-active.svg);
    background-color: #1a88e1;
} 

.section-team-card-icon-behance {
    background-image: url(../img/team/behance.svg);
    background-color: #fafafa;
}

.section-team-card-icon-behance:hover {
    background-image: url(../img/team/behance-active.svg);
    background-color: #1a88e1;
}
 
.section-team-card-icon-chrome {
    background-image: url(../img/team/chrome.svg);
    background-color: #fafafa;
}

.section-team-card-icon-chrome:hover {
    background-image: url(../img/team/chrome-active.svg);
    background-color: #1a88e1;
} 

.section-contact{
    background-color: #edf6ff;
    position: relative;
    height: 845px;
}

.section-contact-bg-img {
    background-image: url(../img/contact/bg-contact.png);
    background-repeat: no-repeat;
    background-position: left bottom;
    height: inherit;
    width: 47%;
    position: absolute;
    background-size: contain;
    left: 0;
    bottom: 0;
}

.section-contact-flex {
    display: flex;
    align-items: center;
}

.section-contact-form {
    max-width: 520px;
    margin-left: 7.5%;
}
.section-contact-form-title {
    color: #192b59;
    font-size: 50px;
    font-weight: 600;
    letter-spacing: -1.5px;
}

.section-contact-input {
    display: block;
    box-sizing: border-box;
    width: 100%;
    border-radius: 35px;
    border: 2px solid #dce4ec;
    font-size: 14px;
    color: #8995b3;
    background-color: white;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 40px;
    padding-right: 80px;
}

.section-contact-input:focus {
    outline: none;
}

.section-contact-input::-webkit-input-placeholder { 
     color: #8995b3;
}
.section-contact-input::-moz-placeholder { 
     color: #8995b3;
}
.section-contact-input:-ms-input-placeholder { 
     color: #8995b3;
}
.section-contact-input:-moz-placeholder { 
     color: #8995b3;
} 

.section-contact-form-name {
    height: 70px;
}
.section-contact-form-name-icon {
    position: relative;
}

.section-contact-form-name-icon::after {
    content: "";
    background-image: url(../img/contact/user.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 14px;
    position: absolute;
    height: 14px;
    width: 14px;
    top: 28px;
    right: 37px;
}

.section-contact-form-email {
    height: 70px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.section-contact-form-email-icon {
    position: relative;
}

.section-contact-form-email-icon::after {
    content: "";
    background-image: url(../img/contact/envelope.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 14px;
    position: absolute;
    height: 14px;
    width: 14px;
    top: 28px;
    right: 37px;
}

.section-contact-form-message {
    height: 160px;
    margin-bottom: 40px;
    resize: none;
}

.section-contact-form-message-icon {
    position: relative;
}

.section-contact-form-message-icon::after {
    content: "";
    background-image: url(../img/contact/pen.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 14px;
    position: absolute;
    height: 14px;
    width: 14px;
    top: 28px;
    right: 37px;
}

.section-contact-form-submit {
    position: relative;
    padding: 20px 50px 20px 75px;
    letter-spacing: 2px;
}
.section-contact-form-submit::before {
    content: "";
    background-image: url(../img/contact/send.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 14px;
    position: absolute;
    height: 14px;
    width: 14px;
    top: 20px;
    left: 50px;
}


.section-footer {
    background-color: #192b59;
    height: 70px;
}
.section-footer-flex {
    display: flex;
    height: inherit;
    align-items: center;
}
.section-footer-text {
    flex-grow: 1;
    color: #b6bae0;
    font-size: 16px;
    font-weight: 400;

}
.section-footer-text-1 {
    color: #1085e4;
    text-transform: uppercase;
}
.section-footer-icon {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 16px;
    height: 16px;
    width: 16px;
    margin-left: 24px;
}

.section-footer-icon-facebook {
    background-image: url(../img/footer/facebook.svg);
}

.section-footer-icon-twitter {
    background-image: url(../img/footer/twitter.svg);
}

.section-footer-icon-behance {
    background-image: url(../img/footer/behance.svg);
}

.section-footer-icon-pinterest {
    background-image: url(../img/footer/pinterest.svg);
}

.section-footer-icon-foursquare {
    background-image: url(../img/footer/foursquare.svg);
}

@media (max-width: 1400px) { 
    .section-video-img {
        right: 0;
    }
}

@media (max-width: 1200px) { 
    .section-amazing {
        background-image: none;
    }
    .section-amazing-flex {
         justify-content: center; 
    }
    
    .section-amazing-flex-inner {
        flex-basis: 80%;
    }

    .section-video-img {
        position: relative;
        top: 0;
    }
}

@media (max-width: 992px) {
    .section-sponsors-flex {
        justify-content: space-around;
    }
 
    .section-video-intro {
        left: 3%;
    }
    
}

@media (max-width: 840px) {
    .section-subscribe-flex {
        flex-direction: column;
    }

    .section-subscribe-img {
       padding: 25px 0 ; 
       order: -1;
       height: 150px;
    }

    .section-subscribe-content {
        padding: 80px 0; 
    }
    .section-amazing-flex-inner {
        flex-basis: 100%;
    }

}


/* @media (max-width: 576px) { */
 /* @media (max-width: 768px) {  */

